.statistics__bg {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.statistics__main{
    width: 97%;
    display: flex;
    justify-content: space-between;
    background: var(--default-color);
    border-radius: var(--default-border-radius);
    margin-bottom: 15px;
}

.date-buttons{
    display: flex;
}

.date-buttons__date{
    background: white;
    display: flex;
    align-items: center;
}

.date-buttons__button{
    background: var(--default-color);
    border-radius: var(--default-border-radius);
    color: black;
    &:hover{
        background: var(--hover-color);
    }
}

.date-buttons__button__left{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.date-buttons__button__right{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

@media (max-width: 768px) {
    .statistics__main {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        min-height: auto;
    }
}

@media (max-width: 576px) {
    .statistics__main {
        width: 70%;
        padding: 15px;
    }

    .statistics__main > * {
        flex: 0 0 calc(50% - 12px);
        max-width: calc(50% - 12px);
        min-width: 70px;
    }
}