MAIL_USERNAME=given-mail@gmail.com
MAIL_PASSWORD=xxxx xxxx xxxx xxxx

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=password
REDIS_TIMEOUT_CODE=60
REDIS_TIMEOUT_ATTEMPTS=60
REDIS_TIMEOUT_SEND=60

LIMITS_MAX_TEMPLATES=15
LIMITS_MAX_DURATION=60
LIMITS_MAX_TIMES_A_DAY=10
MAX_CODE_ATTEMPTS=5
MAX_SEND_MAIL=3

JWT_SECRET=secret1secret1secret1secret1secret1secret1secret1secret1secret1secret1secret1
JWT_LIFETIME=300000

DB_NAME=mednotes
DB_USER=med_user
DB_PASSWORD=password