.intake-card{
    background: var(--default-color);
    border-radius: var(--default-border-radius);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

ul, li { list-style: none; }

.intake-card:hover {
    transform: translateY(-4px);
    transition: all 0.2s ease;
    background: var(--hover-color);
}

.intake-card__header {
    padding: 20px 20px 0;
}

.intake-card__bottom{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.intake-card__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 8px 0;
    line-height: 1.3;
}

.intake-card__status {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
    padding: 5px;
    background: grey;
    border-radius: var(--default-border-radius);
}

.intake-card__date {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
    padding: 5px;
    background: grey;
    border-radius: var(--default-border-radius);
}
