#root {
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    --primary-color: #5c757d;
    --hover-color: #63564E;
    --default-color: #FFF;
    --default-border-radius: 10px;
}

.error-message {
    color: #d32f2f;
    background-color: #ffebee;
    padding: 10px;
    border-radius: var(--default-border-radius);
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #ef5350;
}