#root {
      margin: 0 auto;
      text-align: center;
    --primary-color: #5c757d;
    --hover-color: #d6d6d6;
    --default-color: #FFF;
    --default-border-radius: 10px;
}

.bg {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.error-message {
    color: #d32f2f;
    background-color: #ffebee;
    padding: 10px;
    border-radius: var(--default-border-radius);
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #ef5350;
}