spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/medicinenotes  # Внутри Docker сети
    username: app_admin
    password: AdminPass123!
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true